Application/android/.gradle/7.0.2/executionHistory/executionHistory.bin
Application/android/.gradle/7.0.2/executionHistory/executionHistory.lock
Application/android/.gradle/7.0.2/fileHashes/fileHashes.bin
Application/android/.gradle/7.0.2/fileHashes/fileHashes.lock
Application/android/.gradle/7.0.2/fileHashes/resourceHashesCache.bin
Application/android/.gradle/7.0.2/javaCompile/classAnalysis.bin
Application/android/.gradle/7.0.2/javaCompile/jarAnalysis.bin
Application/android/.gradle/7.0.2/javaCompile/javaCompile.lock
Application/android/.gradle/7.0.2/javaCompile/taskHistory.bin
Application/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Application/android/.gradle/buildOutputCleanup/outputFiles.bin
Application/android/.gradle/checksums/checksums.lock
Application/android/.gradle/7.0.2/dependencies-accessors/dependencies-accessors.lock
Application/android/.gradle/7.0.2/executionHistory/executionHistory.bin
Application/android/.gradle/7.0.2/executionHistory/executionHistory.lock
Application/android/.gradle/7.0.2/fileHashes/fileHashes.bin
Application/android/.gradle/7.0.2/fileHashes/fileHashes.lock
Application/android/.gradle/buildOutputCleanup/buildOutputCleanup.lock
Application/android/.gradle/buildOutputCleanup/outputFiles.bin
Application/android/.gradle/checksums/checksums.lock
